<p-panel header="Statistics">
  <div class="chart-wrapper">
    <canvas #chart></canvas>
  </div>
</p-panel>
<p-panel header="Feed">
  <p-card *ngFor="let post of posts"
    [subheader]="getUserById(post.userId).name + ' (' + getUserById(post.userId).email + ')'">
    <p-header>
      <div class="post-header">
        <h3>{{ post.title }}</h3>
        <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-outline"
          pTooltip="Delete post" (click)="deletePost(post.id)" tooltipPosition="bottom">
        </button>
      </div>
    </p-header>
    <p class="m-0">
      {{ post.body }}
    </p>
    <p-panel [toggleable]="true" header="Comments" [collapsed]="true">
      <ng-container *ngFor="let comment of getPostComments(post.id)">
        <p class="m-0">
          <b>{{ getUserByEmail(comment.email).name ?? 'Anonymous' }}</b> ({{ comment.email }})<br>
          {{ comment.body }}
        </p>
      </ng-container>
    </p-panel>
  </p-card>
</p-panel>